// Gallery

.gallery-container {
	@extend .flex;
	flex-wrap: wrap;
	justify-content: center;

	.gallery-item {
		background-color: $color-bg-pencil;
		border-radius: 6px;
		border: solid 1px $color-border;
		font-size: 12px;
		height: 310px;
		margin: $sep-xs;
		padding: $sep-md;
		width: 210px;

		.gallery-item__picture {
			margin-bottom: 22px;
			width: 150px;
		}

		.gallery-item__album-Id {
			margin-bottom: 0;
		}

		.gallery-item__picture-Id {
			margin-bottom: $sep-xxs;
		}

		.gallery-item__picture-title {
			border-top: solid 1px $color-border-light;
			font-size: 11px;
			height: 42px;
			line-height: 1.45;
			overflow: hidden;
			padding: $sep-xxs 0 19px;
		}
	}
}
