// Homepage

.home {
	background-color: $color-bg-pencil;
	height: 140%;
	margin: $sep-xs $sep-md;
	padding: $sep-sm $sep-md;

	//settings for the 3 areas
	.middle,
	.top {
		max-width: 500px;
		padding: $sep-sm;
	}

	.bottom {
		max-width: 1000px;
		padding: $sep-sm;
	}

	.bottom__title,
	.middle__title,
	.top__title {
		color: $color-text-silver;
		font-weight: bold;
		margin: $sep-sm 0;
	}

	// settings for the 3 areas content
	.top__title {
		font-size: 36px;
	}

	.middle__title {
		font-size: 24px;
	}

	.bottom__title {
		font-size: 18px;
	}

	.bottom__content,
	.middle__content {
		font-size: 14px;
	}

	.top__content {
		font-size: 18px;
		line-height: 1.5em;
		text-shadow: 1px 1px $color-bg-black;
	}

	//setting the grid dispay
	.bottom__content {
		display: inline-flex;
		padding: $sep-xs;
		width: 33%;
		@include respond-up-to(md) {
			width: 100%;
		}
	}
}
