// Layout

body {
	background-color: $color-bg-black;
	color: $color-text-light-grey;
	font-family: $font-OpenSans !important;
}

/*=============	HEADER ===============*/

header {
	background-color: $color-bg-pencil;
	border-bottom: 1px solid $color-border-light;
	box-shadow: 0 1px 0 0 $color-border-light, 0 3px 0 0 $color-border;
	left: 0;
	min-height: 70px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;

	//flex predefined types are defined in generic/_flex.scss
	@extend .flex;
	@extend .flex--md-wrap;
	@extend .flex--center;

	//removing fixed positioning
	@include respond-up-to(sm) {
		position: inherit;
	};

	//removing border lines and setting width and alignment when the flex-wrap occurs
	.select-con {
		@include respond-up-to(md) {
			border-right: 0;
			margin: 0 auto-1;
			width: 50%;
		};
	}

	.search-con,
	.select-con,
	.title {
		align-self: center;
		border: 1px solid $color-border-light;
		margin: 0 0 -1px -1px;
		@include respond-up-to(sm) {
			width: 50%;

			.search {
				padding: 0 $sep-xxxs;
				width: 130px;
			}
		};
		@include respond-up-to(xs) {
			width: 100%;
		};
	};
}

/*=============	SIDEBAR ===============*/

.sidebar .menu {
	height: 100%;
	min-width: 150px;
	position: fixed;
	top: 71px;
	width: 285px;
	@include respond-up-to(md) {
		height: 100%;
		position: fixed;
		top: 140px;
		width: 30%;
	};
	@include respond-up-to(sm) {
		height: 200px;
		position: absolute;
		top: 140px;
		width: 100%;
	};
	@include respond-up-to(xs) {
		height: 300px;
		position: absolute;
		top: 278px;
		width: 100%;
	};
}

/*=============	CONTENT ===============*/

.content {
	margin: 101px 0 0 285px;
	@include respond-up-to(md) {
		margin-left: 30%;
		position: absolute;
		top: 71px;
		width: 70%;
	};
	@include respond-up-to(sm) {
		margin: 272px 0;
		width: 100%;
	};
	@include respond-up-to(xs) {
		margin: 522px 0;
	};
}
