// Sidebar Menu

.menu {
	background-color: $color-bg-pencil;
	box-shadow: 1px 0 0 0 $color-border-light, 3px 0 0 0 $color-border;
	list-style: none;
	padding: $sep-md $sep-xxs;
	z-index: 2;
}

.menu-item {
	align-items: center;
	display: inline-flex;
	font-size: 22px;
	margin: $sep-sm;
	@include respond-up-to(sm) {
		margin: $sep-xxs;
	};
}

.menu-item:hover {
	.icon {
		color: #389bff;
	}

	h3 {
		color: $color-text-silver;
	}
}

.menu li h3 {
	color: $color-text-light-grey;
	font-family: $font-OpenSans;
	font-size: 14px;
	margin: 0 32px;
}
