// Search Box

.search-con {
  height: 70px;
  width: 284px;
}

.search {
  background-color: $color-bg-black-1;
  border-radius: 50px;
  border: 0;
  height: 32px;
  margin: 17px $sep-md;
  padding: 0 36px 0 16px;
  width: 224px;
}

.search-con:after {
  bottom: 45px;
  box-sizing: border-box;
  color: $color-text-light-grey;
  content: $icon-ic-search;
  font-family: icomoon;
  height: 100%;
  left: 220px;
  pointer-events: none;
  position: relative;
  text-align: center;
  width: 20%;
  z-index: 5;
}
