// Sort and Filter box

.select-con {
  @extend .flex;
	@extend .flex--md-wrap;
	@extend .flex--center;
  border-left: 1px solid $color-border-light;
  height: 70px;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.select-con_filter {
  width: 293px;
}

.select-con_sort {
  width: 251px;
}

// Labels
.select-con__label {
  font-size: 12px;
  font-weight: bold;
  height: 17px;
  margin: 0 $sep-xs;
}

.select-con__label_filter {
  width: 93px;
}

.select-con__label_sort {
  width: 50px;
}

// select area
select {
  background-color: $color-bg-black-1;
  border-radius: 50px;
  border: 0;
  color: $color-text-silver;
  font-family: $font-OpenSans;
  font-size: 12px;
  font-weight: 600;
  height: 32px;
  padding: 0 16px;
  width: $sep-xl;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

// the arrow icons
.select:after {
  box-sizing: border-box;
  color: $color-bg-pencil;
  color: $color-text-light-grey;
  content: $icon-ic-arrow;
  font-family: icomoon;
  height: 100%;
  pointer-events: none;
  position: relative;
  right: 26px;
  text-align: center;
  top: 3px;
  width: 20%;
  z-index: 1;
}
