//App Title area

.title {
  @extend .flex;
	@extend .flex--center;
  border-right: 1px solid $color-border-light;
  color: $color-text-light-grey;
  font-family: $font-OpenSans;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  height: 70px;
  letter-spacing: 0.7px;
  padding-right: 81px;

  .icon-img-logo {
    color: $color-bg-pencil;
    font-size: 32px;
    margin: auto 23px auto 28px;
    text-shadow: 0 0 3px $color-border-light;
  }
}
