/**
 * Settings: Colors
 * @author: Yorgos Kakavas
 *
 */

// Colors
$color-text-white: #ffffff;
$color-text-silver: #c2c6cc;
$color-text-silver-1: #b8bfcc;
$color-text-light-grey: #737780;

// Text
$color-text-link: $color-text-white;
$color-text: $color-text-light-grey;
$color-text-btn: $color-text-silver-1;
$color-text-h: $color-text-silver;

// Background
$color-bg-pencil: #2d3035;
$color-bg-black: #22252a;
$color-bg-black-1: #1f2228;

// Border
$color-border-light: #45484d;
$color-border: #1b1e24;