/**
 * Settings: iconvars
 * @author: Yorgos Kakavas
 */


$icomoon-font-path: "../assets/fonts" !default;

$icon-ic-arrow: "\e900";
$icon-ic-assign: "\e901";
$icon-ic-date: "\e902";
$icon-ic-gallery: "\e903";
$icon-ic-home: "\e904";
$icon-ic-project: "\e905";
$icon-ic-search: "\e906";
$icon-img-logo: "\e907";
