/**
 * Settings: seperators
 * @author: Yorgos Kakavas
 */

$sep-xxl:         240px !default;
$sep-xl:          120px !default;
$sep-lg:           60px !default;
$sep-md:           30px !default;
$sep-sm:           20px !default;
$sep-xs:           15px !default;
$sep-xxs:          10px !default;
$sep-xxxs:          5px !default;

$seps: (
  xxl: $sep-xxl,
  xl : $sep-xl,
  lg : $sep-lg,
  md : $sep-md,
  sm : $sep-sm,
  xs : $sep-xs,
  xxs : $sep-xxs,
  xxxs : $sep-xxxs
);
